<!-- username.erb -->

<h3>Need more cash?</h3>
<div id="add_cash" class="well">
  <div>
    <form action="/add_cash" method="POST">
      <label for="input_total_cash"><h4>How much cash would you like?</h4></label>
      <div class="input-prepend">
        <span class="add-on">$</span>
        <input id="input_total_cash" type="text" name="input_total_cash">
      </div>
      <div id="slider_start_cash"></div>
      <input type="submit" value="Enter!" class="btn">
    </form>
  </div>
</div>
