<!-- username.erb -->

<!-- <h4>Welcome to Tealeaf Blackjack!</h4> -->
<form action="/add_cash" method="POST">
  <label for="input_total_cash">How much cash would you like to play with?</label>
  <input id="input_total_cash" type="text" name="input_total_cash">
  <div id="slider_start_cash"></div>
  <br>
  <input type="submit" value="Enter!" class="btn btn-small">
</form>
