<!DOCTYPE html>
<html>
  <head>
    <title>Tealeaf Sinatra Blackjack</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <script src="/vendor/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="/application.js" type="text/javascript"></script>
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li><a href="/new_player">New Player</a></li>
              <li><a href="/new_game">New Game</a></li>
            </ul>
        </div>
      </div>
    </div>

  <div class="container">
    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% end %>
      <%= yield %>
  </div>
  </body>
</html>
