<!-- username.erb -->

<h4>Welcome to Tealeaf Blackjack!</h4>
<form action="/new_player" method="POST">
  <label for="player_name">Hi there! Please tell me your name.</label>
  <input type="text" name="player_name">
  <br>
  <input type="submit" value="Let's Play!" class="btn btn-small">
</form>