<!-- username.erb -->

<h2>Welcome to Tealeaf Blackjack!</h2>
<form action="/new_player" method="POST">
  <label for="player_name">Hi there! Please tell me your name.</label>
  <input type="text" name="player_name">
  <input type="submit" name="Submit">
</form>