<!-- username.erb -->

<div id="new_player" class="well">
  <div>
    <form action="/new_player" method="POST">
      <h3>Welcome!</h3>
      <h4>Please enter your name.</h4>
      <input type="text" id="player_name" name="player_name" placeholder="Or I could make one up for you ...">
      
      <label for="input_total_cash"><h4>How much cash will you start with?</h4></label>
      <div class="input-prepend">
        <span class="add-on">$</span>
        <input id="input_total_cash" type="text" name="input_total_cash">
      </div>
      
      <div id="slider_start_cash"></div>
      <input type="submit" value="Enter!" class="btn">
    </form>
  </div>
</div>
