body {
  font-family: sans-serif;
  font-size: .9em;
  margin-left: 10px;
  /* this was in the html for some reason */
  padding-top: 50px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  padding: 0;
  font-weight: bold;
}

h4 {
  padding-top: 0px;
  margin-top: 5px;
}

.navbar {
  margin-bottom: 60px;
}

div#player {
  margin-bottom: 20px;
  padding-left: 20px;
}

div#dealer {
  padding-left: 20px;
}

#game_container {
  width: 80%;
}

#content_container {
  margin-top: 40px;
}

#title {
  text-align: center;  
}


form {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}

.well {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 700px;
  border: 2px solid #eee;
  border-radius: 20px;
}

#player .well.active {
  border-color: #9c9;  /*light green*/
}

#dealer .well.active {
  border-color: #d53;  /* red-ish */ 
}

.result .alert {
  margin-top: 10px;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;  
  font-weight: bold;
  font-size: 1.5em;
}

.hidden {
  visibility: hidden;
}

#dealer .hidden {
  display: none;  
}

.card {
  height: 100px;
  width: 69px;
  border-radius: 9px;
}

/* cards for initial(?) hiding and showing */
#dealer li img.hidden {
  display: none;
}

.btn {
  margin-top: 10px;
  margin-right: 10px; 
  font-size: .9em;
}

/* new player */
#slider_start_cash {
  width: 220px;
}
#slider_bet {
  width: 220px;
}

ul.stats li{
  display:inline;
  float: right;
  margin-top: 20px;
  margin-right: 30px;
}

ul.stats li span.value {
  font-weight: bold;
}

#end {
  text-align: center
}
