html {
}

body {
  background: url(images/bg_table.png) no-repeat center center fixed;
  background-size: cover;  
  
  font-family: sans-serif;
  font-size: .9em;
  margin-left: 10px;
  /* this was in the html for some reason */
  padding-top: 50px;
  /*background-color: #ccc;*/
}

p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  padding: 0;
  font-weight: bold;
}

h1, h2, h3, h4, h5 {
  margin-top: 0px;
  color: #555;  
}

a:hover h1 {
  color: #777;  
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.navbar h1 {
  margin: 10px 0;
}

h1 {
 margin-bottom: 40px; 
}

h4 {
  padding-top: 0px;
  margin-top: 5px;
}

label {
  width:300px;
}

.navbar {
  margin-bottom: 60px;
}

div#player {
  margin-bottom: 20px;
  padding-left: 20px;
}

div#dealer {
  padding-left: 20px;
}

#game_container {
  width: auto;
}

#content_container {
  text-align: center;
  margin-top: 50px;
}

#title {
  text-align: center;  
}

form {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}

.well {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 700px;
  height: 180px;
  border: 2px solid #777;
  border-radius: 20px;
  text-align: left;
}

/*.well p {
  text-align: center;
}*/

#player .well, #dealer .well {
  margin-left: auto;
  margin-right: auto;  
}

#player .well.active {
  /* light green */
  border: 3px solid #6a6;
}

#dealer .well.active {
  /* red-ish */ 
  border: 3px solid #d53;
}

/* 
the display:table here with overflow auto
seems to allow div to adjust to the height 
of the content. Not sure if best way to do this...
*/
div#new_player.well, 
div#add_cash.well,
div#bet.well {
  display: table;
  width: 300px;
  min-height: 115px;
  margin-left: auto;
  margin-right: auto;    
  overflow: auto;
  padding: 0 20px 20px 20px ;
  text-align: center;
}

/* this is to get the sliders below the input
fields cuz, after adding the prepend to the input
the input needs to be inline-block */
div#new_player.well div, 
div#add_cash.well div, 
div#bet.well div{
  display:block;
}

div#new_player.well .btn, 
div#add_cash.well .btn,
div#bet.well .btn{
  display: inline-block;
}

.result .alert {
  margin-top: 10px;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;  
  font-weight: bold;
  font-size: 1.5em;
}

.hidden {
  visibility: hidden;
}

#dealer .hidden {
  display: none;  
}

.card {
  height: 100px;
  width: 69px;
  border-radius: 9px;
  display: none;
}

/* cards for initial(?) hiding and showing */
#dealer li img.hidden {
  display: none;
}

.btn {
  margin-top: 10px;
  margin-right: 10px; 
  font-size: 1em;
}

/* hit / stay buttons */
form#hit input, form#stay input {
  width: 100px;  
}

input#player_name {
  width:250px;
}

#slider_start_cash {
  width: 100px;
  margin-left:auto;
  margin-right:auto;
}

#slider_bet {
  margin-left:auto;
  margin-right:auto;
  width: 100px;
}

#bet_input, #input_total_cash {
  margin-left:auto;
  margin-right:auto;
  display:inline-block;
  width: 60px;
  font-weight: bold;
  text-align: center;
}

ul.stats li{
  display:inline;
  float: right;
  margin-top: 20px;
  margin-right: 30px;
}

ul.stats li span.value {
  font-weight: bold;
}

/* override the default top position for the fade in */
.modal.fade.in {
  top: 25%;  
}

.modal {
  width: auto;
  text-align: center;
}

.modal-backdrop {
  /*background: none;*/
  background-color: gray;
}

#end {
  text-align: center
}
